@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <p>   In today's scenario of real world problem solving mechanism Git 
        has been so handy in continuous project development, version control and 
        collaboration. Git acts like a portfolio for staging one's project which can
        be backed up, viewed and shared easily. Promotes easy collaborating from 
        anyone from With version control we can keep track of any changes made with 
        additional information like the person who modified, reason 
        of modification, exact changes made and of course with the timestamp.</p>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
